jobs:
  accessibility_alt_text_bot:
    if: ${{ !endsWith(github.actor, '[bot]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: github/accessibility-alt-text-bot@437c81f27b382050979bf1b6c14760e40a392872 # v1.7.2

name: Accessibility Alt Text Bot

on:
  issue_comment:
    types:
      - created
      - edited
  issues:
    types:
      - edited
      - opened
  pull_request:
    types:
      - edited
      - opened

permissions:
  issues: write
  pull-requests: write
